snippet schema Schema
  # yaml-language-server: \$schema=${0}

snippet kustomization Snippet for apiVersion and kind
  # yaml-language-server: \$schema=https://www.schemastore.org/kustomization.json
  apiVersion: kustomize.config.k8s.io/v1beta1
  kind: Kustomization
  ${0}
